/* reset.css */

/* 모든 요소 기본값 제거 */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* html, body 기본 설정 */
html, body {
    height: 100%;
    line-height: 1.5;
}

/* 이미지 기본 설정 */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 폼 요소 폰트 상속 */
input, button, textarea, select {
    font: inherit;
}

/* 버튼 기본 스타일 제거 */
button {
    border: none;
    background: none;
    cursor: pointer;
}

/* 리스트 스타일 제거 */
ul, ol {
    list-style: none;
}

/* 링크 스타일 제거 */
a {
    text-decoration: none;
    color: inherit;
}

/* 테이블 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}