@import url(common.css);

header{
    position: sticky;
    top: 0;
    background-color: #267AC7;
    z-index: 99;
}

.br-hide{
    display: none;
}

.nav{
    width: 1240px;
    display: flex;
    margin: auto;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    gap: 5px;
    align-items: center;
}

.logo-title{
    font-family: 'Pretendard';
    font-size: 2.188rem;
    font-weight: 300;
}

.logo-icon{
    width: 15%;
}

.navi{
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.kv-section{
    background-color: #267AC7;
}

.kv{
    width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 40px 0 80px;
    overflow: hidden;
}

.kv-img{
    width: 100%;
    max-width: 505px;
    height: auto;
}

.kv-content{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.kv-content h1{
    font-size: 4.25rem;
}

.kv-content .kv-txt h3{
    letter-spacing: 50%;
}


.btn-cta{
    border: 3px solid #fff;
    padding: 15px 30px;
}

.about{
    background-color: #f0f0f0;
    background-image: url(../images/about_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.about-content{
    width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 120px;
    overflow: hidden;
}

.about-img{
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-img img{
    width: 30%;
}

.about-desc{
    background-color: #267AC7;
}

.ab-desc-content{
    width: 1240px;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.ab-desc-inner {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 3px;
}



.criteria-content{
    width: 1240px;
    text-align: center;
    margin: auto;
}

.criteria-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.c-card{
    width: 23%;
    min-width: 295px;
    height: 394px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #267AC7;
    padding: 80px 20px;

}

.c-card-icon{
    background-color: #267AC7;
    display: flex;
    width: 100px;
    aspect-ratio:1/1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.c-card-icon img{
    width: 60%;
}

.card-txt{
    margin-bottom: 30px;
}

.doctor-content{
    width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doctor-introduce{
    padding-left: 105px;
}

.doctor-title{
    margin-bottom: 80;
}

.doctor-img{
    width: 100%;
    max-width: 610px;
}

.solution-content{
    width: 1240px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.solution-img{
    width: 100%;
    max-width: 610px;
}

.solution-text{
    width: 100%;
    max-width: 400px;
    margin-right: 105;
}

.solution-title{
    text-align: right;
    margin-bottom: 160px;
}

.solution-tag{
    text-align: center;
}

.solution-tag h2{
    width: 100%;
    background-color: #267AC7;
    padding: 20px;
}

.before-after{
    background-color: #f0f0f0;
}

.before-after-content{
    width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b-a-title{
    text-align: center;
}

.b-a-ex{
    width: 100%;
}

.b-a-ex p{
    text-align: right;
}

.b-a-img{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}

.before-01{
    width: 100%;
    aspect-ratio: 610/551;
    background-image: url(../images/before_img-01.png);

    background-position: center center;
    background-repeat: none;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
}

.after-01{
    width: 100%;
    aspect-ratio: 610/551;
    background-image: url(../images/after_img-01.png);

    background-position: center center;
    background-repeat: none;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
}

.before-02{
    width: 100%;
    aspect-ratio: 610/551;
    background-image: url(../images/before_img-02.png);

    background-position: center center;
    background-repeat: none;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
}

.after-02{
    width: 100%;
    aspect-ratio: 610/551;
    background-image: url(../images/after_img-02.png);

    background-position: center center;
    background-repeat: none;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
}

.tools{
    background-image: url(../images/tools-bg.png);
}

.tools-content{
    width: 1240px;
    margin: auto;
    overflow: hidden;
}

.tools-card{
    height: auto;
    min-height: 373px;
    display: flex;
    justify-content: center;
}

.tool-01{
    background-image: url(../images/tools-img-01.png);
    width: 100%;
    min-width: 295px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    justify-content: end;
    padding: 20px 20px;
    flex: 1 1 calc(25% - 20px);
}

.tool-02{
    background-image: url(../images/tools-img-02.png);
    width: 100%;
    min-width: 295px;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    justify-content: end;
    padding: 20px 20px;
    flex: 1 1 calc(25% - 20px);
}

.tool-03{
    background-image: url(../images/tools-img-03.png);
    width: 100%;
    min-width: 295px;  
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    justify-content: end;
    padding: 20px 20px;
    flex: 1 1 calc(25% - 20px);
}

.tool-04{
    background-image: url(../images/tools-img-04.png);
    width: 100%;
    min-width: 295px;   
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    justify-content: end;
    padding: 20px 20px;
    flex: 1 1 calc(25% - 20px);
}

.room-content{
    width: 1240px;
    margin: auto;
}

.room-img{
    width: 100%;
    display: flex;
}

.main-room-img{
    max-width: 925px;
    width: 100%;
}

.sub-room-img{
    display: flex;
    flex-direction: column;
}

.reservation{
    background-color: #267AC7;
}

.reservation-content{
    width: 1240px;
    margin: auto;
    padding: 40px 40px;
    background-color: #fff;
}

.reservation-title{
    text-align: center;
}

.input-cta{
    width: 100%;
    max-width: 820px;
    display: flex;
    margin: auto;
    justify-content: center;
}

.input-box{
    width: 100%;
    max-width: 610px;
    display: flex;
    flex-direction: column;
}



.input-box-2{
    display: flex;
    width: 100%;
}

.input-box input{
    width: 100%;
    border: 1px solid #686868;
}

.input-box select{
    width: 100%;
    border: 1px solid #686868;
}

.select-box{
    width: 50%;
    position: relative;
}

.select-box::after{
    content: "";
    background-image: url(../images/icon/arrow.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}



.small-input{
    padding: 15px 10px;
}

.big-input{
    padding: 80px 10px;
}

.rev-cta{
    width: 100%;
    max-width: 190px;
    background-color: #267AC7;
}

.check-term{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
}

.map-content{
    width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 105px;
}

.map-number{
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.call-number{
    position: relative;
    padding-left: 35px;
}

.call-number::before{
    content: "";
    background-image: url(../images/icon/call_icon.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 28px;
    height: 28px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.t-time{
    display: flex;
}

.daytime{
    text-align: center;
}

.footer{
    background-color: #333;
}

.footer-content{
    width: 1240px;
    margin: auto;
    padding: 80px 0;
}

.footer-text .logo{
    padding-right: 40px;
    border-right: 1px solid #686868;
    margin-right: 40px;
}

.footer-text{
    display: flex;
}

.footer-info{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 20px 40px;
}


@media(max-width:1240px){
    .nav,
    .kv,
    .about-content,
    .ab-desc-content,
    .criteria-content,
    .doctor-content,
    .solution-content,
    .before-after-content,
    .tools-content,
    .room-content,
    .reservation-content,
    .map-content,
    .footer-content{
        width: 96%;
    }

    .br-none{
        display: none;
    }

    .nav{
        justify-content: right;
    }

    .gnb{
        display: none;
    }

    .kv{
        flex-direction: column;
    }

    .kv-img{
        width: 80%;
    }

    .about-content{
        gap: 60px;
    }

    .ab-desc-content{
        display: none;
    }

    .ab-desc{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 20px;
        gap: 20px;
        align-items: baseline;
    }



    .c-card{
        width: 33%;
        min-width: 178px;
    }

    .doctor-content{
        flex-direction: column-reverse;
        justify-content: center;
        padding-left: 0;
        gap: 40px;
    }

    .doctor-introduce{
        text-align: center;
        padding: 0;
    }

    
    .solution-content{
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .solution-text{
        margin: auto;
        max-width: 610px;

    }

    .solution-title{
        text-align: center;
        margin-bottom: 40px;
    }

    .room-img{
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
    }

    .sub-room-img{
        flex-direction: row;
    }

    .sub-room-img li{
        width: 100%;
        min-width: 134px;
        aspect-ratio: 134/65.75;
    }

    .input-cta{
        flex-direction: column;
        max-width: 610px;
    }

    .rev-cta{
        max-width: none;
        padding: 20px;
    }

    .select-box{
        width: 50%;
    }

    .map-content{
        flex-direction: column;
    }

}

@media(max-width:540px){



    .logo-title{
        font-size: 20px;
    }

    .kv{
        padding: 20px 0 40px;
    }

    .kv-img{
        max-width: 350px;
    }

    .kv-content h1{
        font-size: 32px;
    }

    .kv-txt h3{
        display: none;
    }
    .btn-cta span{
        display: none;
    }

    .about-content{
        gap: 30px;
    }

    .about-title p{
        display: none;
    }

    .about-desc{
        display: none;
    }

    .c-card{
        width: 40%;
        padding: 10px 10px;
        max-width: 178px;
        max-height: 250px;
        min-width: 100px;
    }

    .c-card-icon{
        width: 80px;
    }

    .card-txt{
        margin-bottom: 15px;
    }

    .solution-tag h2{
        padding: 10px;
    }

    .before-01,
    .before-02,
    .after-01,
    .after-02{
        padding-bottom: 10px;
    }

    .sub-room-img li{
        min-width: 100.5px;
        aspect-ratio: 134/65.75;
    }

    .reservation-content{
        padding: 20px 20px;
    }

    .select-box{
        width: 60%;
    }

    .rev-cta{
        padding: 20px;
    }

    .small-input{
        padding: 10px 10px;
    }

    .big-input{
        padding: 60px 10px;
    }

    .map-content{
        gap: 40px;
    }
    
    .map-txt{
        width: 80%;
    }

    .map-img{
        width: 80%;
    }

    .footer-text{
        flex-direction: column;
        padding: 0 10%;
    }

    .footer-content{
        padding: 60px 0;
    }

    .footer .logo{
        border-right: none;
        border-bottom: 1px solid #686868;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .logo img{
        max-width: 30px;
    }

    .footer-info{
        width: 100%;
    }
}