@import url(common.css);

header{
    position: sticky;
    top: 0px;
    background-color: #267AC7;
    z-index: 99;
}

.nav{
    width: 100%;
    max-width: 1240px;
    display: flex;
    margin: auto;
    padding: 20px 0;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    gap: 5px;
    align-items: center;
}

.logo-title{
    font-family: 'Pretendard';
    font-size: 35px;
    font-weight: 300;

}

.logo-icon{
    width: 34px;
    height: 33px;
}

.navi{
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.kv-section{
    background-color: #267AC7;
}

.kv{
    width: 100%;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 80px 0;
}

.kv-img{
    width: 100%;
    max-width: 505px;
    height: auto;
    aspect-ratio: 505 / 649;
    background-image: url(../images/KV_img.webp);

}

.kv-content{
    display: flex;
    flex-direction: column;
    text-align: right;
}

.kv-content h1{
    font-size: 68px;
}

.kv-content .kv-txt h3{
    letter-spacing: 0.5em
}


.btn-cta{
    border: 3px solid #fff;
    padding: 15px 30px;
}

.about{
    background-color: #f0f0f0;
}

.about-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: url(../images/about_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    gap: 120px;
}

.about-img{
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.about-desc{
    background-color: #267AC7;
}

.ab-desc-content{
    width: 100%;
    max-width: 1240px;
    margin: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.ab-desc-inner {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 3px;
}



.criteria-content{
    width: 100%;
    max-width: 1240px;
    text-align: center;
    margin: auto;
}

.criteria-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.c-card{
    flex: 1 1 calc(25% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #267AC7;
    padding: 80px 0;

}

.c-card-icon{
    background-color: #267AC7;
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-txt{
    margin-bottom: 30px;
}

.doctor-content{
    width: 100%;
    max-width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 105px;
}

.doctor-title{
    margin-bottom: 80px;
}

.doctor-img{
    width: 100%;
    max-width: 610px;
}

.solution-content{
    width: 100%;
    max-width: 1240px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.solution-img{
    width: 100%;
    max-width: 735px;
}

.solution-text{
    width: 100%;
    max-width: 400px;
}

.solution-title{
    text-align: right;
    margin-bottom: 160px;
}

.solution-tag{
    text-align: center;
}

.solution-tag h2{
    width: 100%;
    background-color: #267AC7;
    padding: 20px;
}

.before-after{
    background-color: #f0f0f0;
}

.before-after-content{
    width: 100%;
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b-a-title{
    text-align: center;
}

.b-a-ex{
    width: 100%;
}

.b-a-ex p{
    text-align: right;
}

.b-a-img{
    display: flex;
    height: 553px;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}

.before-01{
    width: 100%;
    height: 100%;
    background-image: url(../images/before_img-01.png);
    background-repeat: none;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
}

.after-01{
    width: 100%;
    height: 100%;
    background-image: url(../images/after_img-01.png);
    background-repeat: none;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
}

.before-02{
    width: 100%;
    height: 100%;
    background-image: url(../images/before_img-02.png);
    background-repeat: none;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
}

.after-02{
    width: 100%;
    height: 100%;
    background-image: url(../images/after_img-02.png);
    background-repeat: none;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
}

.tools{
    background-image: url(../images/tools-bg.png);
}

.tools-content{
    width: 100%;
    max-width: 1240px;
    margin: auto;
}

.tools-card{
    height: auto;
    min-height: 373px;
    display: flex;
    flex-wrap: wrap;
}

.tool-01{
    background-image: url(../images/tools-img-01.png);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    justify-content: end;
    padding: 20px 20px;
    flex: 1 1 calc(25% - 20px);
}

.tool-02{
    background-image: url(../images/tools-img-02.png);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    justify-content: end;
    padding: 20px 20px;
    flex: 1 1 calc(25% - 20px);
}

.tool-03{
    background-image: url(../images/tools-img-03.png);
    width: 100%;    
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    justify-content: end;
    padding: 20px 20px;
    flex: 1 1 calc(25% - 20px);
}

.tool-04{
    background-image: url(../images/tools-img-04.png);
    width: 100%;    
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    justify-content: end;
    padding: 20px 20px;
    flex: 1 1 calc(25% - 20px);
}

.room-content{
    width: 100%;
    max-width: 1240px;
    margin: auto;
}

.room-img{
    width: 100%;
    display: flex;
}

.main-room-img{
    width: 925px;
}

.sub-room-img{
    display: flex;
    flex-direction: column;
}

.reservation{
    background-color: #267AC7;
}

.reservation-content{
    width: 100%;
    max-width: 1240px;
    margin: auto;
    padding: 40px 0;
    background-color: #fff;
}

.reservation-title{
    text-align: center;
}

.input-cta{
    width: 100%;
    max-width: 820px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.input-box{
    width: 610px;
    display: flex;
    flex-direction: column;
}



.input-box-2{
    display: flex;
    width: 100%;
}

.input-box input{
    width: 100%;
    border: 1px solid #686868;
}

.input-box select{
    width: 100%;
    border: 1px solid #686868;
}

.select-box{
    width: 100%;
    max-width: 295px;
    position: relative;
}

.select-box::after{
    content: "";
    background-image: url(../images/icon/arrow.svg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}



.small-input{
    padding: 15px 10px;
}

.big-input{
    padding: 80px 10px;
}

.rev-cta{
    width: 190px;
    background-color: #267AC7;
}

.check-term{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
}

.map-content{
    width: 100%;
    max-width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 105px;
}

.map-number{
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.call-number{
    position: relative;
    padding-left: 35px;
}

.call-number::before{
    content: "";
    background-image: url(../images/icon/call_icon.svg);
    background-repeat: no-repeat;
    position: absolute;
    width: 28px;
    height: 28px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.t-time{
    display: flex;
}

.daytime{
    text-align: center;
}

.footer{
    background-color: #333;
}

.footer-content{
    width: 100%;
    max-width: 1240px;
    margin: auto;
    padding: 80px 0;
}

.footer-text .logo{
    padding-right: 40px;
    border-right: 1px solid #686868;
    margin-right: 40px;
}

.footer-text{
    display: flex;
}

.footer-info{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 20px 40px;
}
